* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0f0f0;
  font-size: 1.1em;
  line-height: 25px;
  letter-spacing: 1px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.white-bg {
  background: #fff;
}

.hide {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}

#logo {
  color: #6070ff;
  width: fit-content;
  font-size: 30px;
  font-weight: 600;
  padding: 15px;
}

nav {
  color: #6070ff;
  font-size: 20px;
  padding: 10px;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  background-color: white;
  background-image: url(./bg.png);
  height: 635px;
  border-radius: 0 0 0 66px;
  padding: 8px 30px;
  padding-top: 146px;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

.footer h2 {
  font-size: 48px;
  margin-bottom: 25px;
  height: 56px;
}

.card h2 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 10px 0;
}

#headline h2 {
  color: #505f79;
  font-size: 40px;
  padding: 45px 0;
  line-height: 40px;
}

#headline p {
  color: #000070;
}

.connect {
  text-transform: uppercase;
  color: #7f8cff;
  padding: 15px 0;
}

.social ul {
  display: flex;
}

.social a {
  color: #505f79;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: fit-content;
  padding: 0 7px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

img {
  display: block;
  width: 100%;
  height: 90%;
  margin: auto;
}

#work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #00000040;
  border-radius: 10px;
  padding: 10px;
  margin: 14px;
}

.card-img {
  background: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  min-height: 100px;
  margin: 10px auto;
  padding: 10px;
}

#flask {
  height: 172px;
}

.card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.card-list h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.card-list ul {
  display: flex;
  flex-direction: row;
}

.card-list ul li {
  margin-left: 25px;
  padding-left: 0;
}

.desc {
  margin: 10px 0;
}

.tags span {
  display: inline-block;
  padding: 5px;
  background: #00007020;
  font-size: 12px;
  border-radius: 5px;
  color: #6070ff;
  margin: 5px 10px;
}

.button {
  margin: 20px 0;
  margin-bottom: 10px;
}

.button button {
  background: none;
  border-radius: 5px;
  border: 2px solid #6070ff;
  padding: 10px 15px;
  font-weight: bold;
  color: #000070;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  border-radius: 84px 0 0;
  background: white;
  padding: 43px;
  color: #172b4d;
}

#list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#list ul li ul {
  margin-left: 20px;
}

#list ul li {
  margin: 20px 0;
  align-items: center;
  display: inline-flex;
}

.l {
  margin: 15px;
  background-color: #f7f7f9;
  height: 66.72px;
  border-radius: 8px;
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.support {
  padding-left: 55px;
}

.flex1 {
  flex-grow: 1;
}

.image {
  width: 65px;
  margin: 10px;
}

.item {
  flex-grow: 1;
}

#trans {
  display: flex;
  flex-direction: column;
}

footer {
  flex-direction: column;
  display: flex;
  background: #6070ff;
  width: 100%;
  border-radius: 40px 0 0 0;
  padding: 146px 0;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  height: 779px;
  background-repeat: no-repeat;
  background-image: url(bgn.svg);
  background-position: right;
}

.footer form input,
.footer form textarea {
  display: block;
  height: 48px;
  padding-left: 10px;
  border-radius: 7px;
  border: none;
  background: #fff;
  margin: 20px 52px;
  width: 75%;
}

.footer form textarea {
  height: 170px;
}

#final {
  background-color: #fff;
  margin: 17px;
  width: 140px;
  height: 48px;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  margin-left: -30%;
  color: #6070ff;
}

#final:hover {
  background-color: #6070ff;
  color: white;
}

#final:active {
  background-color: #2230d2;
  color: white;
}

#final:disabled {
  background-color: white;
  color: #5e6c84;
}

@media only screen and (min-width: 968px) {
  #headline {
    background-image: url(./hbg.svg);
    width: 100%;
    background-size: 100%;
  }

  .card {
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .card-det {
    padding: 50px;
    width: 50%;
  }

  .card-img {
    min-height: 100%;
    width: 50%;
    height: 90%;
  }

  #about {
    flex-direction: row;
    justify-content: space-between;
  }

  .flex1 {
    width: 40%;
  }

  #list {
    width: 55%;
    display: flex;
    flex-direction: row;
  }

  .l {
    flex-direction: column;
    width: 197px;
    height: 101.72px;
  }

  #trans {
    flex-direction: row;
  }

  footer {
    background-image: url(./cont.svg);
    width: 100%;
  }

  footer .container {
    width: 50%;
  }

  #list ul li ul {
    flex-direction: row;
  }

  #hide {
    display: none;
  }

  .hide {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .hide li {
    padding: 34px;
  }
}
