* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0f0f0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;

}

.container {
  width: 375px;
  margin: 0 auto;
}

.white-bg {
  background: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
}

#bar {
  color: blue;
}

#logo {
  color: #6070ff;
  width: fit-content;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

nav {
  color: #6070ff;
  font-size: 20px;
  padding: 10px;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  background-color: white;
  background-image: url(./bg.png);
  height: 635px;
  border-radius: 0 0 0 66px;
  padding: 8px 30px;
  padding-top: 146px;
}

#headline h1 {
  color: #172b4d;
  font-size: 40px;
  padding: 10px 0;
}

#headline p {
  color: #344563 ;
  font-size: 16px;
  line-height: 24px;
}

.button button {
  background: none;
  border-radius: 5px;
  border: 2px solid #000070;
  padding: 10px 15px;
  font-weight: bold;
  color: #000070;
}

.tags span {
  display: inline-block;
  padding: 5px;
  background: #00007020;
  border-radius: 5px;
  margin: 5px 10px;
  margin-left: 0;
}

.button {
  margin: 20px 0;
  margin-bottom: 10px;
}

#connect {
  color: #7f8cff;
  padding: 15px 0;
}

#social button {
  color: #505f79;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: fit-content;
  padding: 0 7px;
  font-size: 18px;
}
